* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  width: 100%;
  background-color: #333333;
  color: #AAAAAA;
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
a,
a:link,
a:visited {
  color: #2CB6CC;
  text-decoration: none;
}
a:active,
a:hover {
  color: #FF50A2;
}
#page > .header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  line-height: 60px;
  vertical-align: middle;
  background-color: #000000;
  border-bottom: 4px solid #2CB6CC;
}
#page > .header .content {
  margin: 0px auto;
  min-width: 500px;
  width: 80%;
  padding-top: 20px;
  height: 60px;
}
#page > .header .content .brand {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin-right: 20px;
  height: 100%;
  line-height: 60px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
#page > .header .content .brand:hover {
  border-bottom: 4px solid #FF50A2;
}
#page > .header .content .brand:hover img {
  transform: scale(1.05, 1.05);
}
#page > .header .content .brand a,
#page > .header .content .brand img {
  height: 100%;
}
#page > .header .content ul.nav {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;
  height: 60px;
}
#page > .header .content ul.nav li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#page > .header .content ul.nav li.active,
#page > .header .content ul.nav li:hover {
  background-color: #333333;
}
#page > .header .content ul.nav li.active a,
#page > .header .content ul.nav li:hover a,
#page > .header .content ul.nav li.active a:link,
#page > .header .content ul.nav li:hover a:link,
#page > .header .content ul.nav li.active a:visited,
#page > .header .content ul.nav li:hover a:visited,
#page > .header .content ul.nav li.active a:active,
#page > .header .content ul.nav li:hover a:active,
#page > .header .content ul.nav li.active a:hover,
#page > .header .content ul.nav li:hover a:hover {
  color: #FF50A2;
}
#page > .header .content ul.nav li.active {
  border-bottom: 4px solid #FFFFFF;
}
#page > .header .content ul.nav li:hover {
  border-bottom: 4px solid #FF50A2;
}
#page > .header .content ul.nav li a {
  font-size: 18.2px;
  font-weight: bold;
  margin: 0px 20px;
}
#page > .content {
  margin: 0px auto;
  min-width: 500px;
  width: 80%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -80px;
}
#page > .content::before {
  display: block;
  content: "";
  height: 80px;
}
#page > .content > span {
  display: inline-block;
  text-align: left;
}
#page > .content .highlight {
  color: #FFFFFF;
}
#page > .footer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0px auto;
  min-width: 500px;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  background-color: #000000;
  border-top: 4px solid #2CB6CC;
  border-left: 4px solid #2CB6CC;
  border-right: 4px solid #2CB6CC;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
#page > .footer ul.footer_links {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;
  height: 80px;
}
#page > .footer ul.footer_links li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#page > .footer ul.footer_links li.active,
#page > .footer ul.footer_links li:hover {
  background-color: #333333;
}
#page > .footer ul.footer_links li.active a,
#page > .footer ul.footer_links li:hover a,
#page > .footer ul.footer_links li.active a:link,
#page > .footer ul.footer_links li:hover a:link,
#page > .footer ul.footer_links li.active a:visited,
#page > .footer ul.footer_links li:hover a:visited,
#page > .footer ul.footer_links li.active a:active,
#page > .footer ul.footer_links li:hover a:active,
#page > .footer ul.footer_links li.active a:hover,
#page > .footer ul.footer_links li:hover a:hover {
  color: #FF50A2;
}
#page > .footer ul.footer_links li a {
  font-size: 18.2px;
  font-weight: bold;
  margin: 0px 20px;
}
