// "main":"main.less"
@import (once) "variables.less";

.footer() {
  width: 100%;
  height: @footer-height;
  background-color: @background-color-dark;
  .box-sizing(border-box);
  border-top: @footer-border-width solid @brand-primary;
  overflow: hidden;
  .content {
    .box-sizing(border-box);
    .page-width();
    padding: 5px;
  }
  ul.links {
    list-style-type: none;
    a {
      &, &:link, &:visited {
        color: @color-dark;
      }
      &:active, &:hover {
        color: @brand-accent;
      }
    }
    .love {
      width: 100%;
      text-align: center;
    }
  }
}
